body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

h1{
    text-shadow: 0 2px 2px rgba(0,0,0,0.7);
}

.btn {
    width: 100px;
    height: 100px;
    margin: 4px;
    font-size: 50px;
}

img {
    width: 100px;
    height: 100px;
    margin: 4px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width:768px){
    .btn {
        width: 66px;
        height: 66px;
        margin: 3px;
        font-size: 26px;
    }
    
    img {
        width: 66px;
        height: 66px;
        margin: 3px;
    
    }
}

.centertxt {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenu {
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}

#rejouer {
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 18px;
    display: none;
    margin: 20px 0;
}

#rejouer:hover{
    transform: translate(-2px);
    background-color: rgb(0, 184, 184);
}

.btn:hover{
    transform: translate(-2px);
    background-color: rgb(0, 184, 184);
}